<%= form_with model: @training, url: trainings_path, local: true do |f|%>
  

  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.date_field :date, id:"prototype_title" %>
  </div>
 
  <div class="field">
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="field">
    <%= f.label :training_menu, "トレーニングメニュー" %><br />
    <%= f.text_area :training_menu, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :comment, "トレーニング評価" %><br />
    <%= f.text_area :comment, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="actions">
    <%= f.submit "設定", class: :form__btn  %>
  </div>
<% end %>