<div class="top__image">
<%= image_tag 'top-image2.png' %>
</div>

<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <h1>
        こんにちは！
        <%= current_user.nickname %>さん
        </h1>
        <h1>トレーニングを始めよう！！</h1>
      </div> 

<%= render partial: "targets/index" %>



      <div class="title">
        <h2>トレーニング実施記録一覧</h2>
        <table>
        <tr>
    <th>日付</th>
    <th>トレーニングカテゴリー</th>
    <th>詳細</th>
        </tr>
        <% @trainings.each do |training| %>
  <tr>
    <td class="icon">
        <%= training.date %> 
    </td>
    <td>
        <%= training.category.name %> 
    </td>
    <td>
    <button>
    <%= link_to "詳細", training_path(training.id), method: :get %>
    </button>
    </td>
  <tr>
  
    <% end %>
</table>
<%= paginate @trainings %>
     
      </div>
      <% end %>
  </div>
</main>


 