 <div class="item-explain-box">
      
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value"><%= @training.date %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @training.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トレーニングメニュー</th>
          <td class="detail-value"><%= @training.training_menu %></td>
        </tr>
        <tr>
          <th class="detail-item">評価コメント</th>
          <td class="detail-value"><%= @training.comment %></td> 
        </tr>
      </tbody>
    </table>
  </div>
 

    <div class="button-whole">
      <button class="button">
        <%= link_to "編集", "#", method: :get %>
      </button>
      <button class="button">
        <%= link_to "削除", "#", method: :delete %>
      </button>
      <button class="button">
        <%= link_to "戻る", root_path %>
      </button>
    </div>
  <%# <%= link_to :back do %>
  <%# <button>戻る</button> %>
<%# <% end %> 